body {
  --background-color: #242424;
  font-family: Helvetica;
  background-color: var(--background-color);
}

.rainbow-header {
  background-image: linear-gradient(to left, #F94144, #F3722C, #F9C74F, #90BE6D, #57BED6, #9C71D4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 8vw;
}

.rainbow-wrapper {
  position: relative;
  width: 90vw;
  height: 45vw;
  overflow: hidden;
  margin: auto;
}

.rainbow-wrapper>div {
  border-radius: 90vw 90vw 0 0;
}

.red {
  background-color: #F94144;
  width: 90vw;
  height: 45vw;
  position: absolute;
}

.orange {
  background-color: #F3722C;
  width: 85vw;
  height: 42.5vw;
  position: absolute;
  left: 2.5vw;
  top: 2.5vw;
}

.yellow {
  background-color: #F9C74F;
  width: 80vw;
  height: 40vw;
  position: absolute;
  left: 5vw;
  top: 5vw;
}

.green {
  background-color: #90BE6D;
  width: 75vw;
  height: 42.5vw;
  position: absolute;
  left: 7.5vw;
  top: 7.5vw;
}

.blue {
  background-color: #57BED6;
  width: 70vw;
  height: 35vw;
  position: absolute;
  left: 10vw;
  top: 10vw;
}

.purple {
  background-color: #9C71D4;
  width: 65vw;
  height: 32.5vw;
  position: absolute;
  left: 12.5vw;
  top: 12.5vw;
}

.violet {
  background-color: #EBB1D4;
  width: 60vw;
  height: 30vw;
  position: absolute;
  left: 15vw;
  top: 15vw;
}

.inner-circle {
  background-color: var(--background-color);
  width: 55vw;
  height: 27.5vw;
  position: absolute;
  left: 17.5vw;
  top: 17.5vw;
}
